@using Microsoft.AspNetCore.Html

<div id="board-div">
    @(new HtmlString(Model.board))
</div>

<script>
    $(document).ready(function() {
        handleResponceAndReloadUi();
    });

    function handleResponceAndReloadUi()
    {
        select($(getCurrentPlayer()).parent());
        if(getReceivedErrorMessage())
            alert("@Model.errorMessage");
    }

    function getCurrentPlayer() {
        return '#player-@Model.currentPlayerIndex';
    }

    function getReceivedErrorMessage() {
        return '@String.IsNullOrEmpty(Model.errorMessage)' == "False";
    }

    function checkCurrentPlayerIndex(playerIndex) {
        return playerIndex == '@Model.currentPlayerIndex';
    }
</script>