@using QuoridorWeb.WebApp;
@model GameViewModel

<link rel="stylesheet" href="~/css/game.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.js"></script>
<script src="~/js/request-handler.js"></script>
<script src="~/js/wall-placement-handler.js"></script>
<script src="~/js/movement-handler.js"></script>
<script src="~/js/ui.js"></script>

<table>
    <tr>
        <td position="16 8" class="cell-solid player-cell">
            <img id="player-3" class="player" src="/img/Green_pawn.svg" onclick="if(checkCurrentPlayerIndex(3)){selectPlayer($(this).parent().attr(`position`));blink(this)}">
        </td>
    </tr>   
</table>

@await Html.PartialAsync("Board")