.cell{
    width: 50px;
    height: 50px;
    margin: auto;
}

table{
    border: solid 8px #7d2b10;
}

.cell-void{
    width: 8px;
    height: 8px;
    border-color: #7d2b10;
    background: #7d2b10;
}

.cell-solid{
    width: 70px;
    height: 70px;
    background: #c43a0c;
}

.wall{
    background: #3d1400;
}

.player{
    width: 100%;
    height: 100%;
}